@model IEnumerable<CafeN.Models.ViewModel.OrderViewModel>

@{
    ViewBag.Title = ViewBag.LocationName + "'s Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.LocationName's Orders.</h2>

@foreach (var item in Model)
{
    <div style="border: 1px dashed black; width: 175px; float: left; margin: 5px; background: #ddd;">
        Name: @Html.DisplayFor(modelItem => item.UserName)<br />
        Pickup Time: @Html.DisplayFor(modelItem => item.PickUpAt)<br />
        @if (!String.IsNullOrWhiteSpace(item.CompletedAt.ToString()))
        {
            @Html.Raw("Completed");
        }
        else
        {
            @Html.ActionLink("Start", "Start", new { id = item.OrderID });
        }
    </div>
}

